{% extends "pages/base.jinja" %}

{% block title %} 
    Flask Demo - Not Found
{% endblock title %}

{% block content %}
    <section>
        <h2>Sorry, we cannot find what you are looking for</h2>
    </section>
{% endblock  %}